@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* --color-casgar-yellow: #F2E205;
    --color-casgar-blue: #03258C;
    --color-casgar-green: #7DBF1B; */
    
    --color-casgar-primary : #0583F2;
    --color-casgar-secondary : #03258C;
    --color-casgar-tertiary: #7DBF1B;

    --color-casgar-white: #FFFFFF; 
}

@layer utilities {
    .bg-casgar-primary {
        background-color: var(--color-casgar-primary);
    }
    
    .bg-casgar-secondary {
        background-color: var(--color-casgar-secondary);
    }

    .bg-casgar-tertiary {
        background-color: var(--color-casgar-tertiary);
    }

    .bg-casgar-white {
        background-color: var(--color-casgar-white);
    }

    .text-casgar-secondary {
        color: var(--color-casgar-secondary);
    }

    .text-casgar-white {
        color: var(--color-casgar-white);
    }
}

a {display: block;}

.skews-container {
    overflow: hidden;
}

.skews-wrap-layer {
    position: relative;
    height: 100px;
    width: 100%;
    min-height: 100px;
    min-width: 100%;
}

#skew1{
    fill: var(--color-casgar-primary);
}
