<article class="mt-6">
    <div class="m-4">
        <title class="block mt-2 mb-2 font-bold text-lg">
            Termografía Infrarroja
        </title>
        <p class="">
            Ofrecemos servicios de inspección termográfica para una amplia gama de equipos, incluyendo sistemas mecánicos, eléctricos, subestaciones y edificaciones. 
        </p>
        <img class="w-full mt-4 mb-4" src="./static/images/termografia.png" alt="Termografía">
        <p class="">
            Generamos reportes termográficos exhaustivos que incluyen tasas de severidad, lo que facilita la priorización en las reparaciones necesarias.
        </p>
    </div>
    <div>
        <p class="h-auto bg-casgar-secondary text-white p-4 pt-6 pb-6 mt-6">
            Nuestro equipo cuenta con certificaciones de Nivel 1 y Nivel 2, garantizando un servicio de alta calidad y precisión.
        </p>
    </div>

    <div class="mt-6 mb-6 bg-[#7DBF1B] text-white p-4 text-center">
        <a href="https://wa.me/+526861578419" target="_blank">Enviar mensaje por WhatsApp</a>
    </div>
</article>